/* Elastislide Style */
.es-carousel-wrapper{
	padding:4px 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
	width:100%;
}
.es-carousel ul{
	display:none;
	height:200px;
	margin:3px;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span {
    background: url("../images/nav.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 185px;
    left: -27px;
    margin-top: -102px;
    opacity: 0.8;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    width: 22px;
}
.es-nav span.es-nav-next{
	right:-30px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}